<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tweet.errors.count, 'error') %> prohibited this tweet from being saved
      </h2>

      <ul>
        <% @tweet.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <div class="field form-group">
    <%= f.label :message %>
    <%= f.text_field :message, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit class: 'btn btn-sm btn-danger' %>
  </div>

<% end -%>

<%= link_to 'Back to Feed', tweets_path, class: 'btn btn-sm btn-primary' %>